body{
    background: $darker-grey;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

#app {
    width: 100%;
    height: 100%;

    .navbar {
        z-index: 9;
    }
}

main {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    padding-top: 80px;

    > .container-fluid {
        padding: 0;
    }
}

.row {
    margin: 0;
}

.navbar {
    background: transparent;
    a{
        color: $soft-grey-transp;
    }
    .dropdown-menu{
        background: $dark-purple;
        color: $dark-grey;
        .dropdown-item{
            &:hover{
                color: $soft-grey;
                background: $darker-purple;
            }
        }
    }

    transition: all .2s ease;
    &:hover{
        background: $dark-purple;
        border-bottom: 1px solid $darker-purple;
    }
}
